.border {
  border: 1rem solid black;
}
body {
  border: none;
  height: 100vh;
  background-color: #39404f;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr 1fr 100px;
  grid-gap: 1rem;
  text-align: center;
  grid-template-areas:
    "header header header"
    "sidebar content-1 content-1"
    "sidebar content-2 content-3"
    "footer footer footer";
}
.color-white {
  color: white;
  font-size: 1rem;
}
.color-back-purple {
  background-color: #8e72e5;
}
div {
  background: linear-gradient(to bottom right, #7353da, #00e0d6);
}
aside {
  background-color: #00d1c6;
  grid-area: sidebar;
}
header {
  grid-area: header;
}
.content-1 {
  grid-area: content-1;
}
.content-2 {
  grid-area: content-2;
}
.content-3 {
  grid-area: content-3;
}
footer {
  grid-area: footer;
}
