.first-part {
  background-image: url(../images/bg\ image\ 1.jpg);
  background-size: 320px 689px;
  background-size: cover;
  background-position: center;
}
.first-part header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  object-fit: contain;
}
.first-part header .logo {
  width: 32.96px;
  height: 32.96px;
  margin-left: 15px;
}
.first-part header nav {
  display: flex;
}
main {
  height: 100vh;
}
