@use "./variables" as *;
@use "./media-queries" as *;

@include desktop {
  .first-section {
    max-width: 1280px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px auto auto;

    &__text-container {
      grid-column: 1;
      grid-row: span 3;
      width: 100%;
      max-width: 432px;
      padding: 198px 0 304px;
      margin: 0;
    }

    &__photo-container {
      position: relative;
      grid-column: 2;
      grid-row: 2;
      left: 0;
      margin: 0;
      &__image {
        position: relative;
        max-width: 100%;
        width: 737px;
        height: 536px;
        object-fit: cover;
        object-position: bottom;
      }
    }

    &__img-slider-container {
      margin: 32px 25px 0 0;
      align-self: flex-start;
      justify-self: flex-end;
      margin-bottom: 76px;
      grid-column: 2;
      grid-row: 3;
      &__big-line {
        position: relative;
      }
    }

    &__bg-grey {
      position: absolute;
      margin: 0 100% 0 0;
      height: 100%;
      width: 100vw;
    }
  }
}
