@use "./variables" as *;
@use "./media-queries" as *;
.container {
  width: 100%;
  max-width: 327px;
  margin: 0 auto;
  @include desktop {
    max-width: 1440px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
div {
  font-family: "Inter", sans-serif;
  color: $color-primary;
}
.button {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 12px 0;
  font-size: 16px;
  line-height: 24px;
  &:hover {
    box-shadow: 5px 5px lightgrey;
  }
  @include desktop {
    padding: 12px 24px;
    width: auto;
  }
}
