.container {
  width: 100%;
  max-width: 327px;
  margin: 0 auto;
}
@media (min-width: 769px) {
  .container {
    max-width: 1440px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
div {
  font-family: "Inter", sans-serif;
  color: rgb(50, 41, 47);
}

.button {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 12px 0;
  font-size: 16px;
  line-height: 24px;
}
.button:hover {
  box-shadow: 5px 5px lightgrey;
}
@media (min-width: 769px) {
  .button {
    padding: 12px 24px;
    width: auto;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
}
.navigation__company-logo {
  font-weight: 700;
  line-height: 24px;
  color: rgb(50, 41, 47);
  margin: 23.68px auto 24.32px 24px;
}
@media (min-width: 769px) {
  .navigation__company-logo {
    margin: 24px auto 24px 80px;
  }
}
.navigation__menu-container {
  display: flex;
  align-items: center;
  gap: 48px;
  margin-right: 80px;
}
@media (max-width: 768px) {
  .navigation__menu-container {
    display: none;
  }
}
.navigation__menu-container__search-icon {
  margin-right: 10px;
  width: 24px;
}
.navigation__menu-container__search-icon:hover {
  cursor: pointer;
}
.navigation__menu-container__menu {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: rgb(50, 41, 47);
}
.navigation__menu-container__menu:hover {
  transition: 0.2s;
  font-weight: 600;
  border-bottom: 2px solid rgb(161, 140, 154);
}
.navigation__burger {
  margin: 24.67px 24px 23.65px auto;
}
@media (min-width: 769px) {
  .navigation__burger {
    display: none;
  }
}

.first-section {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 26px;
  grid-template-rows: 1fr auto auto;
}
.first-section__bg-grey {
  z-index: 1;
  position: absolute;
  background-color: rgb(246, 244, 245);
  margin: 89.93px 0 0;
  width: 100vw;
  height: calc(100% - 89.93px);
}
.first-section__photo-container {
  position: relative;
  left: -24px;
  z-index: 2;
  grid-column: 1;
  grid-row: 1;
  margin-bottom: 18px;
}
.first-section__photo-container__image {
  max-width: 100%;
  width: 351px;
  height: 304px;
}
.first-section__img-slider-container {
  display: flex;
  position: relative;
  z-index: 2;
  grid-column: 1;
  grid-row: 2;
  margin: 0 0 14px 24px;
  width: 100%;
  max-width: 431px;
  height: 24px;
}
.first-section__img-slider-container__big-line {
  position: absolute;
  bottom: 0;
  width: 33%;
  border-bottom: 1.13px solid rgb(50, 41, 47);
}
.first-section__img-slider-container__small-line {
  width: 66%;
  border-bottom: 0.57px solid rgb(214, 212, 213);
  rotate: 0.11deg;
}
.first-section__img-slider-container__current-img {
  margin-left: 16px;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  text-align: right;
}
.first-section__text-container {
  z-index: 2;
  grid-column: 1;
  grid-row: 3;
  position: relative;
  width: 100%;
  max-width: 327px;
  margin: 0 0 44.25px 0;
}
.first-section__text-container__title {
  font-weight: 200;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 16px;
}
.first-section__text-container__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 24px;
}
.first-section__text-container__button {
  box-sizing: border-box;
  color: white;
  background-color: rgb(50, 41, 47);
}

.first-section {
  margin-bottom: 67.75px;
}
@media (min-width: 769px) {
  .first-section__bg-grey {
    display: none;
  }
}
@media (min-width: 769px) {
  .first-section {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 769px) {
  .first-section__photo-container {
    position: relative;
    grid-column: 2;
    grid-row: 1;
    margin: 0;
  }
}
@media (min-width: 769px) {
  .first-section__photo-container__image {
    position: relative;
    top: 100px;
    right: 80px;
    width: 100%;
    max-width: 737px;
    height: 536px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: bottom;
       object-position: bottom;
  }
}
@media (min-width: 769px) {
  .first-section__img-slider-container {
    justify-self: end;
    align-self: end;
    margin-bottom: 76px;
    padding-right: 0;
    grid-column: 2;
    grid-row: 1;
  }
}
@media (min-width: 769px) {
  .first-section__text-container {
    background-color: rgb(246, 244, 245);
    grid-column: 1;
    grid-row: 1/3;
    width: 822px;
    padding: 198px 310px 304px 80px;
    margin: 0;
  }
}

.second-section-title {
  font-size: 32px;
  font-weight: 200;
  line-height: 48px;
  text-align: center;
  margin-bottom: 32px;
  width: 100%;
}
@media (min-width: 769px) {
  .second-section-title {
    font-size: 40px;
    margin-bottom: 55px;
  }
}

@media (min-width: 769px) {
  .second-section {
    display: grid;
    row-gap: 104px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 80px;
  }
}
.second-section__image {
  max-width: 100%;
  width: 327px;
  height: 221.07px;
  margin-bottom: 32px;
}
@media (min-width: 769px) {
  .second-section__image {
    width: 628px;
    height: 424px;
    margin: 0;
  }
}
@media (min-width: 769px) {
  .second-section__top-img {
    grid-column: 2;
    grid-row: 1;
  }
}
@media (min-width: 769px) {
  .second-section__bottom-img {
    grid-column: 1;
    grid-row: 2;
  }
}
.second-section__text-container {
  width: 50%;
  max-width: 327px;
  margin-bottom: 72px;
}
@media (min-width: 769px) {
  .second-section__text-container {
    margin: auto;
  }
}
.second-section__text-container__title {
  font-size: 28px;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 16px;
}
@media (min-width: 769px) {
  .second-section__text-container__title {
    font-size: 32px;
  }
}
.second-section__text-container__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 16px;
}
.second-section__text-container__btn {
  border: 1px solid rgb(50, 41, 47);
  font-size: 14px;
}/*# sourceMappingURL=styles.css.map */