.first-block {
  background-color: rgba(249, 87, 56, 1);
  color: white;
}
/* HEADER */
.header {
  display: flex;
  justify-content: space-around;
  font-family: "Manrope", sans-serif;
}
.logo-box {
  display: flex;
  align-items: center;
  gap: 15px;
}
.logo-box__logo {
  margin: 16px auto;
  width: 56px;
}
.logo-box__text {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}
.logo-box__text-smal {
  font-size: 15px;
  line-height: 15px;
}
.menu {
  display: flex;
  align-items: center;
  gap: 36px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.menu__link {
  text-decoration: none;
  color: white;
}
.menu__link:hover {
  color: rgba(239, 190, 16, 1);
  border-bottom: 3px solid rgba(239, 190, 16, 1);
}
.content__main-text {
  font-family: "Sigmar One", sans-serif;
  font-weight: 400;
  font-size: 120px;
  line-height: 102px;
  width: 1023px;
  padding: 145px 0 145px 300px;
  z-index: 1;
}
.content {
  display: flex;
  position: relative;
  overflow: hidden;
}
.content__main-text-yellow {
  color: rgba(239, 190, 16, 1);
}
.content__img {
  position: relative;
  left: -145px;
}
/* MEDIA SCREEN */
@media screen and (max-width: 630px) {
  .menu {
    display: none;
  }
  .burger {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    margin-right: 10px;
    cursor: pointer;
  }
  .burger__line {
    border: 2px solid white;
    width: 20px;
  }
  .header {
    justify-content: space-between;
  }
}
