body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  font-size: 4rem;
  color: white;
  text-align: center;
}
.box {
  margin: 1rem;
}
.a {
  background-color: #00e193;
}
.b {
  background-color: #ea9500;
}
.c {
  background-color: #80e200;
  grid-row: 2 /4;
  grid-column: 2 /4;
}
.d {
  background-color: #ac00e7;
}
.e {
  background-color: #f100a0;
}
.f {
  background-color: #009ce4;
}
