.page {
  height: 100vh;
  text-align: center;
}
h2 {
  position: relative;
  top: 50%;
  font-size: 8rem;
}
.page2 {
  background-color: rgba(81, 203, 101, 1);
}
.page3 {
  background-color: rgba(129, 110, 245, 1);
}
.page4 {
  background-color: rgba(234, 123, 123, 1);
}
.page5 {
  color: rgba(228, 17, 17, 1);
  background-color: rgba(217, 217, 217, 1);
}
.button {
  position: fixed;
  width: 80%;
  bottom: 3rem;
  left: 20%;
  text-align: center;
}
.buttonBackGround {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: rgba(245, 243, 243, 1);
}
.buttonUp {
  position: relative;
  top: 1.8rem;
  left: 10rem;
  margin-right: 10rem;
}
.buttonBackGround a {
  text-decoration: none;
  color: rgba(241, 121, 101, 1);
  font-weight: 600;
  font-size: 0.938rem;
  line-height: 1.625rem;
  display: inline-block;
  border-radius: 0.75rem;
  border: 0.125rem solid rgba(241, 121, 101, 1);
  padding: 0.5rem 1rem;
}
img {
  display: inline-block;
}
.up {
  display: inline-block;
}
