/* header */
header {
  background-image: url(../images/e736c74d2db64d244d4d5d362cdaefe7.jpg);
  width: 100%;
  padding: 0 80px;
  background-position: center;
}
.button {
  text-decoration: none;
  color: var(--main-text-color);
  background: #e12e60;
  padding: 16px 32px;
}
header img {
  position: absolute;
  padding-top: 24px;
  width: 79px;
  height: 79px;
}
header ul {
  /* display: inline-block; */
  flex-wrap: wrap;
  display: flex;
  justify-content: end;
  align-items: start;
  padding-top: 52px;
  gap: 60px;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  line-height: 23.16px;
  color: var(--main-text-color);
}
header h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 60.95px;
  color: var(--main-text-color);
  margin-top: 117px;
  padding-bottom: 58px;
}
/* div under header */
.first-container {
  background-color: #ef5d69;
  width: 100%;
  padding: 78px 59px 79px 60px;
}
.inside-container {
  display: flex;
  justify-content: space-between;
  background-color: #ffffffcc;
  padding: 60px 40px;
  gap: 60px;
}
p {
  text-align: left;
  font-weight: 400;
  font-size: 19px;
  line-height: 22.27px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* main */
main {
  padding: 127px 59px 128px 98px;
  background-color: #fcdfe1;
}
.mainTextContainer {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  padding: 20px;
}
.mainText {
  width: 399px;
  padding: 40px 30px;
  background-color: white;
  flex-shrink: 1;
}
.mainImg {
  width: 70%;
  flex-shrink: 4;
  object-fit: cover;
}
/* footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 80px;
  background-color: black;
}
footer div {
  display: flex;
  gap: 16px;
}
